**NAME:** Hazman Naim Bin Ahsan

**CLASS:** GA-DSBC-23-003


<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Introduction to `pandas` - lab Exercise

Consider the Superstore dataset, which consist of several tables stored as .csv files.

- Products Table (products.csv)
- Orders Table (orders.csv)
- Returns Table (returns.csv)


The Products Table contains the following attributes:

- **product_id** - 	The unique identifier value for the product in the order.
- **category** - 	The product's highest level category.
- **sub_category** - 	The classification of the product within the high-level category.
- **product_name** - 	The name of the product.
- **product_cost_to_consumer** - 	The cost of each product on a single quantity basis.

Let's explore the Products table using what we have learned about Pandas so far.

In [1]:
# import the required libraries first!
import numpy as np
import pandas as pd

Q1. Read in the products.csv file that is in the `datasets` directory into a DataFrame called `products` (You may have to go up one folder to find it, type "../" and press the TAB key)

In [2]:
#Q1 Answer here
df_products = pd.read_csv('datasets/products.csv')
df_orders = pd.read_csv('datasets/orders.csv')
#df_returns = pd.read_csv('datasets/returns.csv')

Q2. Print the first 4 rows of the `products` DataFrame.

In [3]:
#Q2 answer here
df_products.head(4)

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-BO-10000008,Furniture,Bookcases,"Sauder Library with Doors, Traditional",360.51
1,FUR-BO-10000021,Furniture,Bookcases,"Dania Corner Shelving, Metal",70.50
2,FUR-BO-10000035,Furniture,Bookcases,"Dania Classic Bookcase, Pine",239.04
3,FUR-BO-10000071,Furniture,Bookcases,"Safco 3-Shelf Cabinet, Metal",89.22

Q3. Identify the shape of the `products` DataFrame (how many rows and columns?)

In [4]:
#Q3 answer here
df_products.shape

(2720, 5)

Q4. Get information about the number of null values, data types, memory usage of the DataFrame.

In [5]:
#Q4 Answer here
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2720 entries, 0 to 2719
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                2720 non-null   object
 1   category                  2720 non-null   object
 2   sub_category              2720 non-null   object
 3   product_name              2720 non-null   object
 4   product_cost_to_consumer  2720 non-null   float64
dtypes: float64(1), object(4)
memory usage: 106.4+ KB

Q5. How many products of each category are there?

In [6]:
#Q5 Answer here
df_products['category'].value_counts()

Office Supplies    1483
Technology          638
Furniture           599
Name: category, dtype: int64

Q6. What is the difference between using `unique()` and `nunique()`? Which one can be applied on the DataFrame and which one can be used on a Series, for example the `sub_category` column?

In [7]:
# Q6 Test out here
df_products['sub_category'].unique()

array(['Bookcases', 'Chairs', 'Furnishings', 'Tables', 'Appliances',
       'Art', 'Binders', 'Envelopes', 'Fasteners', 'Labels', 'Paper',
       'Storage', 'Supplies', 'Accessories', 'Copiers', 'Machines',
       'Phones'], dtype=object)

In [8]:
df_products['sub_category'].nunique()

17

In [9]:
df_products['product_cost_to_consumer'].unique()

array([360.51,  70.5 , 239.04, ...,  69.06,  40.26,  42.51])

Q7. Get some descriptive statistics about the numeric variable(s): count, mean, std dev, etc...

In [10]:
#Q7 Answer here
df_products.describe(include='all')

,product_id,category,sub_category,product_name,product_cost_to_consumer
count,2720,2720,2720,2720,2720.000000
unique,2720,3,17,1896,NaN
top,FUR-BO-10000008,Office Supplies,Binders,"Stockwell Paper Clips, Assorted Sizes",NaN
freq,1,1483,185,5,NaN
mean,NaN,NaN,NaN,NaN,86.190607
std,NaN,NaN,NaN,NaN,116.631541
min,NaN,NaN,NaN,NaN,2.040000
25%,NaN,NaN,NaN,NaN,14.850000
50%,NaN,NaN,NaN,NaN,35.910000
75%,NaN,NaN,NaN,NaN,109.530000
max,NaN,NaN,NaN,NaN,854.040000

Q8. Using `.loc()`, find all the products in rows with index 10 - 20, showing the product_ID and product name only.

In [11]:
#Q8 Answer here
df_products.loc[10:21,['product_id','product_name']]

         product_id                            product_name
10  FUR-BO-10000210           Ikea Library with Doors, Pine
11  FUR-BO-10000243          Safco Floating Shelf Set, Pine
12  FUR-BO-10000288     Safco Classic Bookcase, Traditional
13  FUR-BO-10000321        Dania Floating Shelf Set, Mobile
14  FUR-BO-10000402  Sauder Stackable Bookrack, Traditional
15  FUR-BO-10000425    Bush Floating Shelf Set, Traditional
16  FUR-BO-10000610         Ikea Stackable Bookrack, Mobile
17  FUR-BO-10000616             Dania Corner Shelving, Pine
18  FUR-BO-10000623         Safco Library with Doors, Metal
19  FUR-BO-10000655     Dania Classic Bookcase, Traditional
20  FUR-BO-10000666            Ikea 3-Shelf Cabinet, Mobile
21  FUR-BO-10000668         Sauder Classic Bookcase, Mobile

Q9. Using `.iloc()`, get the products in rows with index offset from 10 to 20 and the product id and product name columns.

In [12]:
#Q9 Answer here
df_products.iloc[10:21,[0, 3]]

         product_id                            product_name
10  FUR-BO-10000210           Ikea Library with Doors, Pine
11  FUR-BO-10000243          Safco Floating Shelf Set, Pine
12  FUR-BO-10000288     Safco Classic Bookcase, Traditional
13  FUR-BO-10000321        Dania Floating Shelf Set, Mobile
14  FUR-BO-10000402  Sauder Stackable Bookrack, Traditional
15  FUR-BO-10000425    Bush Floating Shelf Set, Traditional
16  FUR-BO-10000610         Ikea Stackable Bookrack, Mobile
17  FUR-BO-10000616             Dania Corner Shelving, Pine
18  FUR-BO-10000623         Safco Library with Doors, Metal
19  FUR-BO-10000655     Dania Classic Bookcase, Traditional
20  FUR-BO-10000666            Ikea 3-Shelf Cabinet, Mobile

Q10. What is the mean product cost to consumer for all products?

In [13]:
#Q10 Answer here
df_products['product_cost_to_consumer'].mean()

86.19060661764708

Q11. Find all the products in the category 'Furniture'.

In [14]:
#Q11 Answer here
df_products[df_products['category'] == 'Furniture']

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-BO-10000008,Furniture,Bookcases,"Sauder Library with Doors, Traditional",360.51
1,FUR-BO-10000021,Furniture,Bookcases,"Dania Corner Shelving, Metal",70.50
2,FUR-BO-10000035,Furniture,Bookcases,"Dania Classic Bookcase, Pine",239.04
3,FUR-BO-10000071,Furniture,Bookcases,"Safco 3-Shelf Cabinet, Metal",89.22
4,FUR-BO-10000087,Furniture,Bookcases,"Dania Classic Bookcase, Mobile",392.64
...,...,...,...,...,...
594,FUR-TA-10004745,Furniture,Tables,"Chromcraft Conference Table, Rectangular",731.01
595,FUR-TA-10004757,Furniture,Tables,"Barricks Training Table, with Bottom Storage",235.56
596,FUR-TA-10004826,Furniture,Tables,"Bevis Training Table, Rectangular",226.14
597,FUR-TA-10004892,Furniture,Tables,"Chromcraft Wood Table, with Bottom Storage",294.36
598,FUR-TA-10004957,Furniture,Tables,"Bevis Wood Table, Fully Assembled",288.96

Q12. What is the mean product cost to consumer for products in the category 'Furniture'?

In [15]:
#Q12 Answer here
df_products[df_products['category'] == 'Furniture'].mean()

C:\Users\User\AppData\Local\Temp\ipykernel_15620\358028253.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_products[df_products['category'] == 'Furniture'].mean()

product_cost_to_consumer    157.696477
dtype: float64

Q13. Find all the products in the category "Office Supplies" that have a product cost to consumer more than 100.

In [16]:
#Q13 Answer here
df_products[(df_products['category'] == 'Office Supplies') & (df_products['product_cost_to_consumer'] > 100)]

,product_id,category,sub_category,product_name,product_cost_to_consumer
599,OFF-AP-10000004,Office Supplies,Appliances,"Cuisinart Stove, Silver",355.77
603,OFF-AP-10000108,Office Supplies,Appliances,"Breville Refrigerator, Black",295.71
604,OFF-AP-10000136,Office Supplies,Appliances,"Hamilton Beach Refrigerator, White",328.86
605,OFF-AP-10000304,Office Supplies,Appliances,"Hoover Microwave, White",165.69
606,OFF-AP-10000335,Office Supplies,Appliances,"Cuisinart Microwave, Red",219.99
...,...,...,...,...,...
1907,OFF-ST-10004768,Office Supplies,Storage,"Eldon Lockers, Industrial",115.08
1909,OFF-ST-10004802,Office Supplies,Storage,"Rogers File Cart, Industrial",107.64
1910,OFF-ST-10004830,Office Supplies,Storage,"Eldon Lockers, Blue",193.98
1911,OFF-ST-10004837,Office Supplies,Storage,"Eldon File Cart, Single Width",120.27
1917,OFF-ST-10004947,Office Supplies,Storage,"Fellowes File Cart, Industrial",126.78

Q14. Sort all the products by sub category, then product cost to consumer, showing the most expensive products in each sub category first.

In [21]:
# Q14 Answer here
df_products.sort_values(['sub_category','product_cost_to_consumer'], ascending=(False, True))

,product_id,category,sub_category,product_name,product_cost_to_consumer
584,FUR-TA-10004050,Furniture,Tables,"Lesro Coffee Table, Fully Assembled",126.75
525,FUR-TA-10001327,Furniture,Tables,"Barricks Training Table, Rectangular",157.95
533,FUR-TA-10001558,Furniture,Tables,"Barricks Training Table, Rectangular",157.95
524,FUR-TA-10001276,Furniture,Tables,"Lesro Coffee Table, with Bottom Storage",168.84
578,FUR-TA-10003637,Furniture,Tables,"Lesro Coffee Table, with Bottom Storage",168.84
...,...,...,...,...,...
2115,TEC-AC-10000866,Technology,Accessories,"Belkin Router, Erganomic",212.97
2193,TEC-AC-10003262,Technology,Accessories,"Belkin Router, Erganomic",212.97
2113,TEC-AC-10000861,Technology,Accessories,"SanDisk Router, Erganomic",213.51
2126,TEC-AC-10001348,Technology,Accessories,"Logitech Router, Bluetooth",244.86
2165,TEC-AC-10002340,Technology,Accessories,"Logitech Router, Bluetooth",244.86

Q15. What are the top 10 products with the highest product cost to consumer containing the word "Recycled" or "Green" in the product name?
Return your answer as a DataFrame object.

In [56]:
#Q15 Answer here
df_products[df_products['product_name'].str.contains('Recycled|Green',
                                                     case=False, na=False)].sort_values('product_cost_to_consumer',
                                                                                        ascending = False).head(10)

,product_id,category,sub_category,product_name,product_cost_to_consumer
1615,OFF-PA-10000976,Office Supplies,Paper,"Green Bar Cards & Envelopes, Premium",47.91
1673,OFF-PA-10003273,Office Supplies,Paper,"Green Bar Cards & Envelopes, Premium",47.91
953,OFF-BI-10001645,Office Supplies,Binders,"Ibico Binding Machine, Recycled",46.62
1643,OFF-PA-10002047,Office Supplies,Paper,"Green Bar Cards & Envelopes, 8.5 x 11",46.23
1620,OFF-PA-10001258,Office Supplies,Paper,"Green Bar Cards & Envelopes, Multicolor",45.33
1624,OFF-PA-10001327,Office Supplies,Paper,"SanDisk Cards & Envelopes, Recycled",44.01
1637,OFF-PA-10001849,Office Supplies,Paper,"SanDisk Cards & Envelopes, Recycled",44.01
1226,OFF-EN-10004254,Office Supplies,Envelopes,"Ames Interoffice Envelope, Recycled",43.92
1125,OFF-EN-10001109,Office Supplies,Envelopes,"Ames Interoffice Envelope, Recycled",43.92
1691,OFF-PA-10003550,Office Supplies,Paper,"Eaton Cards & Envelopes, Recycled",38.34